@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.log-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__list {
        padding: $padding-standard-mobile;
        width: 100%;

    }
}