@use "../partials/mixins" as *;
@use "../partials/variables" as *;
@use "../partials/typography" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
}

h1 {
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: $font-weight-bold;
  padding-bottom: 1rem;

  @include tablet {
    font-size: 2.5rem;
    line-height: 2.75rem;
    font-weight: $font-weight-bold;
    padding-bottom: 1.5rem;
  }

  @include desktop {
    font-size: 4rem;
    line-height: 3.5rem;
  }
}

h2 {
  font-size: 1.2rem;
  line-height: 1.25rem;
  font-weight: $font-weight-bold;

  @include tablet {
    font-size: 1.5rem;
    line-height: 1.25rem;
    font-weight: $font-weight-bold;
  }
}

h3 {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: $font-weight-bold;

  @include tablet {
    font-size: 1.1rem;
    line-height: 1.375rem;
    font-weight: $font-weight-bold;
  }

  @include desktop {
    font-size: 1.3rem;
  }
}

p {
  font-size: 0.9rem;
  line-height: 1.125rem;
  font-weight: $font-weight-regular;

  @include tablet {
    font-size: 1.1rem;
    line-height: 1.375rem;
    font-weight: $font-weight-regular;
  }

  @include desktop {
    font-size: 1.3rem;
  }
}
