@use "./variables" as *;
@use "./typography" as *;

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin button {
  background-color: $color-text-light;
  color: $color-background-light;
  font-size: $font-size-button;
  font-weight: $font-weight-demi;
  padding: 0.5rem .5rem;
  border: none;
  border-radius: 1rem;
  box-shadow: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  &:hover {
    background-color: $color-nav-select;
  }
  &:active {
    background-color: #165465;
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

@mixin button-cancel {
  @include button;
  color: $color-text-light;
  background-color: $color-background-light;
  border: $color-text-light solid 1px;
  &:hover {
    background-color: $color-background-light;
  }
}

@mixin icon {
  width: 1.3rem;
}

@mixin logo {
  width: 7rem;
}

@mixin flex($justify: flex-start, $align: flex-start, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
