$font-weight-regular: 400;
$font-weight-demi: 600;
$font-weight-bold: 700;

$font-family: "League Spartan", sans-serif;

$color-text-dark: #323232;
$color-text-colored: #30638e;
$color-nav-select: #003d5b;
$color-background-medium: #f5f5f5;
$color-background-light: white;
$color-background-colored: #e9c46a;

$padding-standard-mobile: 1rem;
$padding-standard-tablet: 2rem;
$padding-standard-desktop: 4rem;

$font-size-button: 0.8rem;
