$font-weight-regular: 400;
$font-weight-demi: 600;
$font-weight-bold: 700;

$color-text-dark: #323232;
$color-text-light: #2c7da0;
$color-nav-select: #52a7cb;
$color-background-light: #ffffff;
$color-background-medium: #f6d799;
$color-backgound-log-list: #f0dfbc;
$color-divider: #ffffa6;

$padding-standard-mobile: 1rem;
$padding-standard-tablet: 2rem;
$padding-standard-desktop: 8rem;

$divider: 0.15rem solid $color-divider;

$font-size-button: 0.7rem;
