@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.log-list {
  background-color: $color-background-light;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__items {
    width: 95%;
  }

  &__item {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: .3rem .5rem;
    
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-decoration: none;
    background-color: white;
    transition: box-shadow 0.3s ease;
    color: $color-text-dark;
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }
    &:focus {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }
  }

  &__item-left {
    justify-content: center;
  }

  &__thumbnail {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
  }

  &__item-right {
    display: flex;
    align-items: center;
  }

  &__link {
    text-decoration: none;
  }
}
