@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  background-color: $color-background-colored;
  color: $color-text-colored;
  padding: $padding-standard-mobile;
  text-align: center;
  @include flex (center, center, column);
  @include tablet {
    padding-inline: $padding-standard-tablet;
  }
  @include desktop {
    padding-inline: $padding-standard-desktop;
  }

  &__container {
    @include flex(space-between, center, column);
    gap: 0.5rem;
    flex-wrap: wrap;
    @include tablet {
      width: 100%;
      flex-direction: row;
      padding-inline: $padding-standard-tablet;
    }
  }

  &__brand {
    @include flex(left, left, column);
    flex: 1;
    text-align: left;
  }

  &__logo {
    @include logo;
  }

  &__links {
    flex: 1;
    text-align: center;
    @include flex(center, center, row);
    gap: 1rem;
    padding-block: $padding-standard-mobile;

    @include tablet {
      justify-content: right;
    }

    .footer__link {
      color: $color-text-colored;
      text-decoration: none;
      font-size: 0.9rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__copyright {
    margin-top: 10px;
    font-size: 0.8rem;
  }
}
