@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.hero {
  display: flex;
  position: relative;
  aspect-ratio: 16 /9;
  align-items: center;
  min-height: 11rem;

  &__img {
    background-image: url("../../../public/images/homepage-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &__content {
    position: absolute;
    width: 60%;
    max-width: 20rem;
    padding: $padding-standard-mobile;
  }

  &__title {
    color: white;
    padding: 0;
    padding-bottom: .2rem;
  }

  &__button {
    @include button;
  }
}

.body {
  padding: $padding-standard-mobile;
  background-color: $color-background-light;
  @include flex (center, center, column);
  text-align: center;

  &__intro {
    padding-block: $padding-standard-mobile
  }

  &__feature {
    @include flex (center, center, column);
    padding: $padding-standard-mobile;
    gap: $padding-standard-mobile;
    background-color: white;
    border-radius: 10%;
    margin: $padding-standard-mobile;
    max-width: 15rem;
    text-align: center;

  }

  &__icon {
    @include icon;
    height: 50px;
    width: 50px;
  }

  &__icon-bkgrnd {
    @include flex (center, center, row);
    background-color: $color-text-light;
    padding: 1rem;
    border-radius: 10%;
    width: 5rem;
    height: 5rem;
  }


  &__cta {
    @include flex (left, center, row);
    padding: $padding-standard-mobile
  }
  &__cta-btn {
    @include button;
  }

  &__cta-content {
    text-align: left;
    max-width: 15rem;
  }
}
