@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.hero {
  display: flex;
  position: relative;
  aspect-ratio: 16 /9;
  align-items: center;
  min-height: 11rem;

  &__img {
    background-image: url("../../../public/images/homepage-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100%;
    width: 100%;
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &__content {
    position: absolute;
    @include flex(center, left, column);
    padding-left: $padding-standard-mobile;
    width: 100%;
    max-width: 10rem;
    @include tablet {
      padding-left: 5rem;
      max-width: 25rem;
    }
    @include desktop {
      padding-left: 15rem;
      max-width: 45rem;
    }
  }

  &__title {
    color: white;
  }

  &__button {
    @include button;
  }
}

.body {
  padding: $padding-standard-mobile;
  background-color: $color-background-medium;
  @include flex(center, center, column);
  text-align: center;
  @include tablet {
    padding: $padding-standard-tablet;
  }
  @include desktop {
    padding: $padding-standard-desktop;
  }

  &__intro {
    padding-block: $padding-standard-mobile;
    @include flex(center, center, column);
    gap: 1rem;
  }

  &__features {
    @include tablet {
      @include flex(center, center, row);
    }
  }

  &__feature {
    @include flex(center, center, column);
    padding: $padding-standard-mobile;
    gap: $padding-standard-mobile;
    background-color: $color-background-light;
    border-radius: 10%;
    margin: $padding-standard-mobile;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    max-width: 15rem;
    min-height: 15rem;
  }

  &__icon {
    @include icon;
    height: 50px;
    width: 50px;
  }

  &__icon-bkgrnd {
    @include flex(center, center, row);
    background-color: $color-text-colored;
    padding: 1rem;
    border-radius: 10%;
    width: 5rem;
    height: 5rem;
  }
}
